<head>
  <title>Home</title>
  <link href="/public/styles.css" rel="stylesheet">
</head>
<body>
  <span>HomePage</span>
  <ul>
    <% messages.forEach((info) => { %> 
    <li>
        <%- include('users/user', 
        {
            message: info.text,
            user: info.user,
            date: info.added
        }); 
        %> 
    </li>
    <% });%>
  </ul>
  <button><a method="POST" href="/new" style="text-decoration: none; color: black;">Add New Message</a></button>
</body>
