<head>
    <title>New Messages</title>
</head>
<body>
    <span>Messages</span>
    <ul>
        <form method="POST" action="/new">
            <input value=''/>
            <input />
            <button>Click Me!</button>
        </form>
    </ul>
</body>